body {
	background-color: #4e6123;
}

.ui-widget {
	font-size: 90%;
}

.ui-datatable .ui-button {
	float: left;
}

.admin-dashboard-button {
	width: 150px;
	height: 150px;
	margin: 10px;
}

.userDataTableStyle {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0;
}

.login-pnl {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	margin-top: 15%;
	background: #EFF7E1;
	padding: 10px;
	padding-top: 30px;
	border: solid 1px #D0DEB8;
}

.login-pnl img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.login-pnl table {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.userFormStyle {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.ui-selectmanymenu {
	width: 100% !important;
	overflow: hidden !important;
}

.homeWrapper {
	background: #7F6A00 url("#{resource['img/bg.png']}");
	margin-top: -15px;
}

.home {
	position: relative;
	padding: 30px 15px;
	color: rgba(255, 255, 255, .8);
	font-size: 20px;
}

.masthead {
	padding: 40px 20px;
	color: white;
}

.masthead>h1 {
	font-size: 3em;
}

.masthead>h2 {
	font-size: 1em;
	font-weight: bold;
}

.masthead a {
	color: #ddd;
}

.masthead p {
	margin: 10px;
}

.masthead.logo {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	margin: auto;
	height: 100px;
	width: 200px;
	text-align: center;
	position: absolute;
	right: 15px;
	top: 10px;
}

.masthead.logo p {
	line-height: 100px;
	margin: 0px;
}

.masthead.logo img {
	width: 75%;
	margin: auto;
}

.td-align-top {
	vertical-align: top;
}

.create-btn {
	float: right;
	background: #568A30 !important;
	border-color: #2B4213 !important;
	color: #fff !important;
}

.create-btn:HOVER {
	background: #748A30 !important;
	border-color: #374213 !important;
}

td.action-link {
	text-align: center;
}

span.action-link span, a.action-link span, td.action-link a span, td.action-link span span {
	font-size: 18px;
	padding: 2px;
}

a.action-link:HOVER, td.action-link a:HOVER {
	color: red;
}

.selected-column {
	background-color: #C8DBFF;
}

.left-align {
	text-align: left !important;
}

.right-align {
	text-align: right !important;
}

.services-contract-panel .ui-datalist-header {
	text-align: left !important;
}

.lance-input {
	min-width: 300px;
}

.lance-info-icon {
	margin-left: 5px;
	font-size: 18px;
	color: #3399ff;
	cursor: pointer;
}

.label {
	font-weight: bold;
}

#particles-js {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
}